name = "Blade"
grammar = "blade"
path_suffixes = ["*.blade.php"]
block_comment = ["{{-- ", " --}}"]
autoclose_before = "}])>"
brackets = [
    { start = "{", end = "}", close = true, newline = true },
    { start = "[", end = "]", close = true, newline = true },
    { start = "(", end = ")", close = true, newline = true },
    { start = "\"", end = "\"", close = true, newline = false, not_in = [
        "string",
        "comment",
    ] },
    { start = "'", end = "'", close = true, newline = false, not_in = [
        "string",
        "comment",
    ] },
]
word_characters = ["$"]
scope_opt_in_language_servers = [
    "tailwindcss-language-server",
    "emmet-language-server",
    "phpactor",
]
prettier_parser_name = "blade"
prettier_plugins = ["@shufo/prettier-plugin-blade"]

[overrides.string]
word_characters = ["-"]
opt_into_language_servers = [
    "tailwindcss-language-server",
    "emmet-language-server",
    "phpactor",
]
