name = "Blade"
grammar = "blade"
path_suffixes = ["blade.php"]
block_comment = ["{{-- ", " --}}"]
autoclose_before = ";:.,=}])>"
brackets = [
    { start = "{", end = "}", close = true, newline = true },
    { start = "[", end = "]", close = true, newline = true },
    { start = "(", end = ")", close = true, newline = true },
    { start = "\"", end = "\"", close = true, newline = false, not_in = [
        "string",
    ] },
    { start = "'", end = "'", close = true, newline = false, not_in = [
        "string",
    ] },
]
scope_opt_in_language_servers = ["tailwindcss-language-server"]
prettier_plugins = ["@shufo/prettier-plugin-blade"]
prettier_parser_name = "blade"

[overrides.string]
completion_query_characters = ["-"]
opt_into_language_servers = ["tailwindcss-language-server"]
